<nav class="app-sidebar">
  <div class="sidebar-header">
    <img src="images/logo-fixflow.png" alt="ServiTrack Logo" class="sidebar-logo">
    <span class="app-name">FixFlow</span>
  </div>

  <ul class="sidebar-menu">
    <li class="menu-item" *ngFor="let item of navItems">
      <a [routerLink]="item.link" routerLinkActive="active">
        <i class="material-icons">{{ item.icon }}</i>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <a (click)="logout()">
      <i class="material-icons">exit_to_app</i>
      <span>Cerrar Sesión</span>
    </a>
  </div>
</nav>
