<div class="dashboard-container">
  <div class="welcome-section card">
    <div>
      <h2 class="welcome-message">¡Un gusto volver a verte!</h2>
      <div class="user-info">
        <p>Usuario: <span>{{ userName }}</span></p>
        <p>Rol: <span>{{ userMatricula }}</span></p>
      </div>
    </div>
    <img [src]="userImage" alt="Foto de perfil del usuario" class="user-profile-image" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;">
  </div>

  <div class="tickets-notification card" (click)="viewTickets()" *ngIf="!isAdmin">
    <i class="material-icons notification-icon">notifications</i>
    <p>
      Tienes <span class="highlight-number">{{ ticketsToResolve }}</span>
      tickets por resolver
    </p>
  </div>

  <div class="tickets-by-technician-chart-container card" *ngIf="!isAdmin">
    <canvas #ticketsByTechnicianChart></canvas>
  </div>
</div>
