<div class="refacciones-container" style="border-radius: 10px;">
  <div class="section-header">
    <h1 class="section-title">Lista de Refacciones</h1>
    <div class="header-actions">
      <div class="search-box">
        <i class="material-icons search-icon">search</i>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Buscar refacción por nombre..."
          class="search-input"
        />
      </div>

    <button class="btn-export-pdf" (click)="exportRefaccionesPdf()">
      <i class="material-icons">picture_as_pdf</i>
      Exportar PDF
    </button>

      <button class="btn btn-primary" routerLink="/refacciones/nueva">
        <i class="material-icons">add</i> Nueva Refacción
      </button>
    </div>
  </div>

  <div class="refacciones-grid">
    <div *ngIf="isLoading" class="loading-message card">
      <p>Cargando refacciones...</p>
    </div>

    <div *ngIf="error" class="error-message card">
      <p>{{ error }}</p>
    </div>

    <ng-container *ngIf="!isLoading && filteredRefacciones.length > 0">
      <div
        *ngFor="let refaccion of filteredRefacciones; trackBy: trackById"
        class="refaccion-card card"
      >
        <div class="card-image-container">
          <img
            [src]="getRefaccionImageUrl(refaccion.imagen)"
            alt="Imagen de {{ refaccion.nombre }}"
            class="refaccion-image"
          />
        </div>

        <div class="card-content">
          <div class="card-header-compact">
            <h3 class="refaccion-name-compact">{{ refaccion.nombre }}</h3>
            <span
              class="refaccion-status"
              [ngClass]="getStatusClass(refaccion.estatus)"
            >
              {{ getStatusText(refaccion.estatus) }}
            </span>
          </div>

          <div class="card-body-compact">
            <p class="refaccion-part-number">
              <i class="material-icons small-icon">vpn_key</i> Código:
              {{ refaccion.codigo }}
            </p>
            <p class="refaccion-machine-model">
              <i class="material-icons small-icon">print</i> Fabricante:
              {{ refaccion.fabricante }}
            </p>
          </div>
          <div class="card-footer">
            <a
              [routerLink]="['/refacciones', refaccion.id]"
              class="btn-text"
              >Ver Detalles</a
            >
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="!isLoading && filteredRefacciones.length === 0" class="no-results-message card">
        <p>No se encontraron refacciones que coincidan con la búsqueda.</p>
    </div>
  </div>
</div>